<h1>Adding a new Cocktail</h1>
<p>Find me in app/views/cocktails/new.html.erb</p>

<div class='container form-control'>
  <%= simple_form_for [@cocktail] do |f| %>
      <%= f.input :name, class: 'form-control'%>
      <%= f.submit %>
    <% end %>
</div>
